/*  RESET BÁSICO */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
.logo {
    width: 100px;
    height: 70px;
    transition: 1s ease;
}
.logo:hover {
    transform: translateX(5%) scale(115%);
}
.cabecalho {
    background: black;
    padding: 20px;
}
.cabecalho-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecalho-menu {
    list-style: none;
    display: flex;
}
.cabecalho-menu li{
    margin-left: 20px;
}
.cabecalho-menu a {
    color: white;
    text-decoration: none;
    transition: .5s ease;
}
.cabecalho-menu a:hover {
    margin-bottom: 50px;
    color: #e50914;
}
.banner {
    background-image: url(../assets/Game3.jpg);
    background-size: cover;
    height: 500px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
/* Pseudo Elemento. Realiza uma ação antes ou depois */
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; /* Garante que não sofra sobreposição na imagem */
}

.banner-conteudo {
    width: 600px;
    position: relative;
    z-index: 2;
}
.banner-titulo {
    font-size: 3em;
    margin-bottom: 20px;
}

.banner-descricao {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.banner-assistir {
    background: #e50914;
    padding: 10px 30px;
    border-radius: 20px;
    color: #fff;
    border: none;
    margin: 0 10px;
}

.banner-assistir:hover {
    box-shadow: 5px 5px 8px #000;
    transition: .5s;
    /* transform: translateX(5px); */
    /* transform: rotate(360deg); */
    transform: scale(110%);
}

.sessao-filmes {
    padding: 20px;
}
.filme-titulo {
    font-size: 2em;
    margin-bottom: 20px;
}

.carrossel {
    position: relative;
    overflow: hidden;
}
.carrossel img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.carrossel-lista {
    display: flex;
    transition: transform .5s ease-in-out;
}

.carrossel-item {
    width: 200px;
    padding: 10px;
}

.btn-carrossel {
    position: absolute;
    top: 50%;
    transition: translateY(-50%);
    border: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
}

.btn-anterior {
    left: 0;
}

.btn-proximo {
    right: 0;
}

footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
}
