*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.logo{
    width: 100px;
    height: 70px;
}
.cabecalho{
    background: #000;
    padding: 20px;
}

.cabecalho-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-menu{
    list-style: none;
    display: flex;
}
.cabecalho-menu li{
    margin-left: 20px;
}

.cabecalho-menu a{
    color: #fff;
    text-decoration: none;
}

.banner{
    background-image: url(../assets/Game6.jpg);
    background-size: cover;
    height: 500px;
}